<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/warehousedb
        </property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">vb5MnyKoE23#</property>

        <!-- JDBC connection pool settings -->
        <property name="hibernate.connection.pool_size">5</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Update database schema automatically -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Disable the second-level cache -->
        <property name="hibernate.cache.use_second_level_cache">false</property>

        <!-- Names the annotated entity class -->
        <mapping class="com.jmc.warehouse.Models.Entities.OwnerEntity"/>
        <mapping class="com.jmc.warehouse.Models.Entities.AgentEntity"/>
        <mapping class="com.jmc.warehouse.Models.Entities.AdminEntity"/>
        <mapping class="com.jmc.warehouse.Models.Entities.WarehouseEntity"/>
        <mapping class="com.jmc.warehouse.Models.Entities.RentalWarehouseEntity"/>
        <mapping class="com.jmc.warehouse.Models.Entities.AgentNotificationEntity"/>
        <mapping class="com.jmc.warehouse.Models.Entities.OwnerNotificationEntity"/>

    </session-factory>
</hibernate-configuration>