.menu_controller {
    -fx-background: #EEEEEE;
    -fx-padding: 70 5 5 5;
    -fx-spacing: 25;
}

.menu_controller Button {
    -fx-font-size: 1.2em;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #132A13;
    -fx-effect: dropshadow(three-pass-box, #DDDDDD, 5, 0, 0, 6);
     -fx-wrap-text: true;
}
