
.listview_container {
    -fx-background-color: #ffffff;
    -fx-padding: 10;

}

.listview_container Text {
    -fx-fill: #000000;
    -fx-font-size:2.5em;
    -fx-font-family: "Calibri Light";
}


.listview_container .list-cell {
    -fx-background-color: #FFFFFF;
}

.list-view {
-fx-max-width: 800;
 -fx-background-color: #ebebeb;
}


.list_view_button {
    -fx-max-width: 70;
}
